#pentonNavigation  a[disabled] {
  pointer-events: none;
}


#pentonNavigation {
  background-color: #8B8484;
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  z-index: 5000;
  font-weight: 600;
}

#pentonNavigation .p-contain {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

#pentonNavigation .p-nav {
  list-style: none;
  padding: 0px 0px;
  margin: 0px;
}

#pentonNavigation .p-nav li {
  margin-left:  0;
}

#pentonNavigation .p-nav li.top {
  float: right;
  padding: 10px 5px;
}

#pentonNavigation .p-nav li.top a {
  padding: 10px 15px;
}

#pentonNavigation .p-nav li.dropdown {
  position: relative;
}

#pentonNavigation  li.dropdown:after {
  content: "\25bc";
  font-size: 8px;
  line-height: 0;
  top: -1px;
  position: relative;
}

#pentonNavigation .p-nav li.dropdown a:hover {
  background-color: #8B8484;
}

#pentonNavigation .p-nav li.dropdown ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: none;
  position: absolute;
  top: 42px;
  right: 0px;
  z-index: 5000;
  background-color: #8B8484;
}

#pentonNavigation .p-nav li.dropdown ul li {
  white-space: nowrap;
  margin-left: 0;
}

#pentonNavigation .p-nav li.dropdown ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 10px;
}

#pentonNavigation .p-nav li.dropdown ul li a:hover {
  background-color: #5A5A5A;
}

#pentonNavigation .p-nav li.dropdown:hover ul {
  display: block;
}

#pentonNavigation .p-nav:after {
  clear: both;
  display: block;
  content: "";
}

#pentonNavigation a {
  color: #FFF;
  text-decoration: none;
}

#pentonNavigation a:hover {
  background-color: #5A5A5A;
}


@media (max-width: 767px) {

  #pentonNavigation .p-nav {
    display: none;
  }
  #pentonNavigation {
    padding: 20px;
  }
  #pentonNavigation .mobile-description {
    display: inline-block;
    float: left;
    font-size: 10px;
    padding-right: 9px;
    line-height: 2.5;
  }

}
@media (max-width: 400px) {
  #pentonNavigation .mobile-description {
    display: block;
    float: none;
    text-align: center;
  }
  #pentonNavigation .mobile {
    margin: 0 auto;
    display: block;
  }

}
@media (min-width: 768px) {

  #pentonNavigation .mobile {
    display: none;
  }
  #pentonNavigation .mobile-description {
    display: none;
  }

}